#root {
  width: 700px;
  margin: auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.home {
  width: 100%;
}

form.newPost,
.post-close {
  position: relative;
  width: 100%;
  /* padding-top: 10px; */
}

.btn-close {
  position: absolute;
  right: 0px;
}

.add {
  margin-bottom: 10px;
}

.post a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

textarea.form-control {
  min-height: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

.time {
  font-size: small;
}
